<div class="card bg-dark text-white my-2">
  <div class="card-header">
    {{ titulo }}
  </div>
  <div class="card-body">
    <form class="row g-3" [formGroup]="form">
      <div class="col-12">
        <app-form-errors></app-form-errors>
      </div>
      <div class="col-6">
        <label class="form-label">Nombre:</label>
        <input
          type="text"
          formControlName="nombre"
          class="form-control"
          id="nombre"
          [ngClass]="{
            'ng-invalid ng-dirty is-invalid':
              nombre.invalid && (nombre.dirty || nombre.touched)
          }"
          autocomplete="off"
          minlength="4"
          maxlength="60"
          required
        />
        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <span *ngIf="nombre.errors?.['required']" class="text-danger">
            Nombre es obligatorio
          </span>
          <span *ngIf="nombre.errors?.['minlength']" class="text-danger">
            Nombre debe tener mínimo 4 caracteres
          </span>
          <span *ngIf="nombre.errors?.['maxlength']" class="text-danger">
            Nombre debe tener máximo 60 caracteres
          </span>
        </div>
      </div>
      <div class="col-6">
        <label class="form-label">Apellidos:</label>
        <input
          type="text"
          formControlName="apellido"
          class="form-control"
          id="apellido"
          [ngClass]="{
            'ng-invalid ng-dirty is-invalid':
              apellido.invalid && (apellido.dirty || apellido.touched)
          }"
          autocomplete="off"
          required
        />

        <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
          <span *ngIf="apellido.errors?.['required']" class="text-danger">
            Apellido es obligatorio
          </span>
        </div>
      </div>
      <div class="col-6">
        <label class="form-label">Fecha nacimiento:</label>
        <div class="col-12">
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="fechaNacimiento"
            class="form-control"
            style="display: inline !important; width: fit-content"
            required
            [ngClass]="{
              'ng-invalid ng-dirty is-invalid':
                fechaNacimiento.invalid &&
                (fechaNacimiento.dirty || fechaNacimiento.touched)
            }"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>

        <div
          *ngIf="
            fechaNacimiento.invalid &&
            (fechaNacimiento.dirty || fechaNacimiento.touched)
          "
        >
          <span
            *ngIf="fechaNacimiento.errors?.['required']"
            class="text-danger"
          >
            Fecha nacimiento es obligatoria
          </span>
        </div>
      </div>
      <div class="col-6">
        <label class="form-label">Email:</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="email"
          [ngClass]="{
            'ng-invalid ng-dirty is-invalid':
              email.invalid && (email.dirty || email.touched)
          }"
          autocomplete="off"
          required
        />

        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <span *ngIf="email?.errors?.['required']" class="text-danger">
            Email es obligatorio
          </span>
          <span *ngIf="email.errors?.['pattern']" class="text-danger">
            Debe ingresar un email válido
          </span>
        </div>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-primary"
          (click)="procesar()"
          [disabled]="form.invalid"
        >
          {{ edicion ? "Actualizar" : "Guardar" }}
        </button>
      </div>
    </form>
  </div>
</div>
